$black: #000000;
$nav--background: $black;
$rollingStone: #798285;
$disco__p--color: $rollingStone;
$white: #ffffff;
$disco__button--color: $white;
$silverSand: #B3B5B5;
$buy__button--color: $silverSand;
$blackHaze: #F5F6F6;
$compositions__wraper--background: $blackHaze;
$triangle--color: $blackHaze;
$h4--color: $white;
$bismark: #42717E;
$events__h2--color: $bismark;
$stormDust: #5B5C5A;
$history__h2--color: $stormDust;