@font-face{
  font-family: "Dosis Regular";
  src : url("../fonts/Dosis-Regular.ttf") format("true-type");
  src: url("../fonts/Dosis-Regular.woff") format('woff'),
  url("../fonts/Dosis-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Open Sans Regular";
  src : url("../fonts/OpenSans-Regular.ttf") format("true-type");
  src: url("../fonts/OpenSans-Regular.woff") format('woff'),
  url("../fonts/OpenSans-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Open Sans Bold";
  src : url("../fonts/OpenSans-Bold.ttf") format("true-type");
  src: url("../fonts/OpenSans-Bold.woff") format('woff'),
  url("../fonts/OpenSans-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}