<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="css/styl.css" rel="stylesheet">

</head>
<body>
<header>

   <h1>LOGO</h1>
    <nav>
        <ul>
            <li>LABEL</li>
            <li>LABEL</li>
            <li>LABEL</li>
        </ul>

    </nav>
    <button class="btn">
        SING IN
    </button>

</header>
<section class="bg">
<img src="img/star.png" alt="star" class="star">
    <h2> Our Mission </h2>
    <img src="img/star.png" class="star2">
    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500.</p>
</section>
<section class="about">
<h2>About</h2>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500s, when an unknown.</p>
</section>
<section class="team">
<h2>Team</h2>

    <figure class="figureOne">
        <img src="img/one.png" alt="Joe">
        <figcaption>
            <b>John Doe </b> <br> <i>Founder & CEO</i> </figcaption>
    </figure>
    <figure>
        <img src="img/two.png" alt="Joe">
        <figcaption>
            <b>John Doe </b> <br> <em> Co- Founder </em> </figcaption>
    </figure>
    <figure>
        <img src="img/three.png" alt="Joe">
        <figcaption>
            <b>John Doe </b> <br> <em> Investor </em> </figcaption>
    </figure>
<div class="btn2">
    <button >
        work with us
    </button>
</div>
</section>
<section class="map">

</section>
<footer>
    <ul>
        <li>ABOUT</li>
        <li>FAQ</li>
        <li>WORK WITH US</li>
    </ul>
    <div class="icon">
        <img src="img/message.png" alt="hi">
        <img src="img/FACE.png" alt="hi">
        <img src="img/twit.png" alt="hi">
    </div>
    <hr>
    <p>Privacy Policy    |    Terms and Conditions    |    © Company.LLC 2014</p>
</footer>
</body>
</html>