<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link href="css/styl.css" rel="stylesheet">

</head>
<body>
<header>

   <h1>LOGO</h1>
    <nav>
        <ul>
            <li>LABEL</li>
            <li>LABEL</li>
            <li>LABEL</li>
        </ul>

    </nav>
    <button class="btn">
        SING IN
    </button>

</header>
<section>
<img src="img/star.png" alt="star" class="star">
    <h2> Our Mission </h2>
    <img src="img/star.png" class="star2">
    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500.</p>
</section>

</body>
</html>