*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
header {
    width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    padding-bottom: 74px;
    /*background-color: antiquewhite;*/
    color: #4d4d4d;
}
h1 {
    font-weight: normal;
    display: inline;

}
nav,ul{
    display: inline;

}
nav{
    margin-left: 600px;
}

li{
    display: inherit;
    padding-right: 56px;
}
.last{
    padding-right: 0;
}
nav>ul>li>a{
    text-decoration: none;
    color:inherit;
}
.Clean{
    background: url('../img/bg.png');
    width: inherit;
    height: 650px;
    text-align: center;
    color: #4d4d4d;
}
h2{
    text-transform:capitalize;
    font-size: 3em;
    font-weight: normal;
    padding-top: 220px;
}
.Clean>p{
       padding-top: 28px;
    font-size: 20px;
}
.Clean>a>button{
    color:white;
    text-transform: uppercase;
    background-color: #4d4d4d;
    border-radius: 25px;
    border: none;
    padding: 16px 70px;
    margin-top: 42px;
}
a>button:hover {
    cursor: pointer;
    color: aqua;
}
.services{
    width: 1200px;
    margin: 0 auto;
    height:400px;
    /*background-color: antiquewhite;*/
    text-align: center;
}
.services>article>h3{
    color: #4d4d4d;
    padding: 38px 0;
    font-size: 1.5em;
    text-transform: uppercase;
}
.services>article>p{
    color: #727272;
    font-size: 1.12em;
}
.one{

    float:left;
    margin-top: 90px;
    margin-left: 10px;
}
.two{

    float:left;
    margin: 90px 86px;
}
.three{

    float: left;
    margin-top: 90px;
    margin-left: 10px;
}
.sunt{
    text-align: center;
    padding-top: 70px;
    color: #4d4d4d;
    margin-bottom: 70px;
}
.sunt>h2{
    padding-top: 70px;
    padding-bottom: 20px;
}
.sunt>p{
    padding-bottom: 70px;
}
.resent{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 360px;

}
.resent>h2{
    padding-top: 0;
    text-align: center;
    color: #4d4d4d;
    padding-bottom: 80px;
}
.resent>div{
    float:left;
    position: relative;
}
.twoD{
    margin: 0 54px;
}
.threeD{
    margin-right: 52px;
}

.hide{
    position: absolute;
    background: gray;
    width: 260px;
    height: 60px;
    bottom: 0;
    z-index: 1;
    padding-top: 20px;
    display:none;

}
.hide>h4{
    color:white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
}
div>a:hover{
    text-decoration: none;
}
div>a:hover .hide{
    display: block;

}
.sub{
    clear: both;
    width: 1500px;
    margin: 0 auto;
    height:365px;
    background-color: #f5f5f5;
    text-align: center;
    color: #4d4d4d;
}
.sub>h2{
    padding-top: 90px;

}
.sub>p{
padding-top: 54px;
    font-size: 1.1em;
}
.sub>a>button{
    text-transform: uppercase;
   border:1px solid #4d4d4d;
    border-radius: 25px;
    background: 0;
    padding: 16px 42px;
    margin-top: 42px;
    color: #4d4d4d;
}

.media{
    width: 1200px;
    margin: 92px auto;
padding-left: 200px;
    color: #4d4d4d;
}
.media>img{
    padding-right: 56px;
}
.media>.no{
    padding-right: 0;
}
.first{
    padding-left: 226px;
}
footer{
    width: 1500px;
    margin: 0 auto;
    height:365px;
    background-color: #3b3b3b;
}
footer>article{
    float:left;

}
footer{
    padding: 95px 120px;
    color:white;
}

footer>article>ul{
    display:block;
}
footer>article>h4{
    padding-bottom: 36px;
}
footer>article>ul>li{
    padding-bottom: 14px;
}
footer>.oneArticle>ul{
    margin-bottom: 10px;
}
.lastLi , .oneArticle>a , article>p>a{
    color:#727272;
}
.oneArticle{
    margin-right: 100px;
}
.twoArticle{
    margin-right: 218px;
}
.threeArticle{
    margin-right: 138px;
}
.lastP{
    padding-top: 30px;
}