@font-face {
    font-family: v_CCAdamKubert;
    src: url(../../src/fonts/10115.otf);
}

header {
    background: blueviolet;
}
.login>li{
    display: inline;
    text-align: right;
    padding-right: 8px;

}
.login{
    text-align: right;
    padding-top: 3%;

    font-size: 1.2em;

}
.login>li>a{
    color: #fff;
    text-decoration: none;
}
.login>li>a:hover {
    color:orange;
    cursor: pointer;
}
.total{
    padding-top: 2%;
}
.total>a{
    color: #fff;
    text-decoration: none;
}
.total>a:hover {
    color:orange;
    cursor: pointer;
}
.ul{
    padding-top: 22px;
    font-weight: 700;

}
.ul>li {
    padding-right: 10px;
    color: blueviolet;
}
.memenu{
    text-align: center;

}
.main{
    background: url('../../images/main2.png');
    height: 460px;
    background-size: cover;

}

.pad{
    padding-left: 120px;
}
h1{
    font-family: 'v_CCAdamKubert', Regular;
    color: #0f0f0f;
}
h1>span{
   color:#0a30bd;
    padding-top: 10px;
}
.lep2{
    padding-left: 30px;
}
.thumbnail1{
    border: 3px solid blueviolet;
    border-radius: 20px;
}
.captionP{
    text-align: justify;
    text-indent: 1.5em;
}
.description{
    padding-top: 20px;
}
.description1>.thumbnail{
    height: 390px;
}
.our{
    text-align: center;
}
h2{
    color:blueviolet;
    padding-bottom: 40px;
}
h2>span{
    padding-top: 20px;
}
.pArticle{
    text-align: center;
    height: 95px;
}
p>span{
    font-size: 30px;
    color:blueviolet;

}
.large{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
@media (max-width: 768px){
    .logo{
        text-align: center;
    }
    .login{
        text-align: left;
        padding-left:0 ;
    }
    .nav2{
        padding-top: 20px;
    }
    .ul{
        padding-left: 15px;

    }
    .ul>li{

        font-size: 1.1em;
    }
    .memenu {
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        display: inline-block;
        position: relative; /* или можно сделать повверх */
        font-size: 15px;
        text-align: start;
    }
    .main{

        height: 130px;
        background-size: cover;

    }
    .pad{
        padding-left: 48px;
    }
    h1{
        font-size: 10px;
    }
    .lep2{
        height: 60px;
       padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .description1>.thumbnail{
        height: 300px;
    }
    .captionP{
        font-size: 0.8em;
    }
    .large{
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
    h4{
        font-size: 1em;
    }
}