<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>СнежкоБум</title>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js" > </script>
    {#<script src="/src/js/move.js"></script>#}
    <link href="../../src/css/style1.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../src/css/sty.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../src/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../../src/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="../../src/js/simpleCart.js"> </script>
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container">
            {#<div class="search">#}
            {#<form>#}
            {#<input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">#}
            {#<input type="submit" value="Go">#}
            {#</form>#}
            {#</div>#}
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="logo" id="logo"></a>
            </div>
            <div class="header-left">
                <ul>
                    <li><a href="login.html">Вход</a></li>
                    <li><a href="register.html">Регистрация</a></li>
                </ul>
                <div class="cart box_1">
                    <a href="checkout.html">
                        <div class="total">
                            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
                        </div>
                        <img src="/images/cart.png" alt=""/>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            {#<div class="logo">#}
            {#<a href="/"><img src="images/logo.png" alt="logo" id="logo"></a>#}
            {#</div>#}
            <p class="navbar-text">+7 (903) 726-90-99</p>
            <p class="navbar-text">zakaz@snezhkobum.ru</p>
            <div class="h_menu4">
                <ul class="memenu skyblue">
                    <li class="active grid"><a class="color8" href="/">Главная</a></li>
                    <li><a class="color1" href="#">Доставка и оплата</a></li>
                    <li><a class="color1" href="#">Контакты</a></li>
                    <li><a class="color2" href="#">Оптовикам</a></li>
                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div id="header2">
    <img src="/images/main.jpg" id="mainimg" class="img-responsive center-block">
    <h1 id="title1">игрушка для</h1>
    <h1 id="title2">Лепки снежков</h1>
    <img src="/images/mini-lep.png" id="mini-lep" class="img-responsive">
    <img src="/images/nadpis.png" id="secondimg" class="img-responsive">
    <img src="/images/age.png" id="age" class="img-responsive">
    <img src="/images/rushka.png" id="rush" class="img-responsive">
</div>
<div class="container">
    <div class="row" id="content">

        <div class="col-xs-6 col-md-3 col-sm-3" >
            <div>
                <img src="/images/krosh-1.jpg" alt="thumbnail" class="img-responsive img-circle">
                <div class="caption">
                    <p>СнежкоБум ® СнежкоЛеп - это новая запатентованная игрушка для лепки снежков с героями мультфильма "Смешарики" и мобильной игры Cut the Rope.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3 col-sm-3" >
            <div>
                <img src="/images/quality.jpg" alt="thumbnail" class="img-responsive img-circle">
                <div class="caption">
                    <p>За счет уникальной и эргономичной формы ручек, игрушку снежколеп удобно и комфортно держать в детских ручках</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div>
                <img src="/images/omnom-1.jpg" alt="thumbnail" class="img-responsive img-circle">
                <div class="caption">
                    <p>Изготовлен из качественного пластика АБС, устойчивого к морозам и механическим повреждениям</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div>
                <img src="/images/ezhi(1).jpg" alt="thumbnail" class="img-responsive img-circle">
                <div class="caption">
                    <p>Выполнен из экологического материала с использованием безопасных красителей. Имеется санитарно-гигиенический сертификат</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="some1">

        <h2 id="preimushestva">Наши преимущества <span class="glyphicon glyphicon-star-empty"></span></h2>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-education"></span></h2>
                <div class="caption">
                    <p>Мы являемся профессионалами своего дела.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-cog"></span></h2>
                <div class="caption">
                    <p>Собственное производство на территории России.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-usd"></span></h2>
                <div class="caption">
                    <p>Лучшие цены от производителя.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-gift"></span></h2>
                <div class="caption">
                    <p>Гибкая система скидок.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-globe"></span></h2>
                <div class="caption">
                    <p>Уникальный товар не имеющий аналогов.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-2 col-sm-2">
            <div>
                <h2><span class="glyphicon glyphicon-plane"></span></h2>
                <div class="caption">
                    <p>Осуществляем доставку в любую точку мира.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="goods">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="/images/omnom-1.jpg" alt="амням">
                <div class="caption">
                    <h4>СНЕЖКОЛЕП - АМ НЯМ</h4>
                    <p><a href="#" class="btn btn-warning btn-lg" role="button">Купить</a><span class="price">400 руб.</span></p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="story">
        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>Что такое снежколеп?</h3>
                <p>Снежколеп – это уникальная игрушка для зимних игр на открытом воздухе.
                   С помощью снежколепа можно быстро и весело налепить целую гору снежков.
                   При этом снежные шарики получаются идеально ровные и гладкие, а варежки и руки ребёнка - абсолютно сухие!
                </p>
            </div>
            <div class="caption">
                <h3>Праздники!</h3>
                <p>Снежколеп - отличный новогодний подарок для всей семьи.
                   Весёлые праздники обеспечены!
                </p>
            </div>
            <div class="caption">
                <h3>Для мамы с папой и дедушки с бабушкой!</h3>
                <p>Создайте сказку для малышей! С помощью снежколепа можно конструировать весёлых мультяшных зверушек,
                   делать забавные поделки из снега, строить целые города и автострады для машинок. Теперь прогулки на улице
                   всегда будут яркими и запоминающимися для вашего крохи!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <h3>Подарите ребенку праздник!</h3>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="caption">
                <h3>Игра со снежколепом!</h3>
                <p>Давайте вспомним, как здорово лепить из снежков снеговиков, строить неприступные крепости и создавать настоящие снеговые шедевры.
                   Со снежколепом это делать ещё быстрее, легче и веселее.
                   А вашим идеальным снежкам позавидуют все ребята.
                </p>
            </div>

            <div class="caption">
                <h3>Организовывайте соревнования!</h3>
                <p>Соберите родных и друзей, сформируйте команды и проверьте свою меткость, бросая по очереди снежки в мишень.
                    Узнайте, кто же окажется самым зорким и метким. Будет весело!
                </p>
            </div>
            <div class="caption">
                <h3>Будьте победителем во всех снежных боях!</h3>
                <p>В снежки любят играть все: и стратеги-дети и тактически настроенные взрослые.
                    Наш снежколеп поможет быстро соорудить самое меткое оружие, которое эффективно разгромит противника, сделав вас героем!
                </p>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>MORE INFO</h4>
                <ul class="nav-bottom">
                    <li><a href="#">How to order</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Location</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Membership</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>CONTACT US</h4>

                <p>
                    Contrary to popular belief</p>
                <p>The standard chunk</p>
                <p>office:  +12 34 995 0792</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>Newsletter</h4>
                <p>Sign Up to get all news update
                    and promo</p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p>2015 New store . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
</div>
</body>
</html>