body{
	background:url('../image/index.jpg') repeat;
}

.logo{
	position: relative;
	top: -40px;

}

.navbar{

	margin-top:100px;

}

li{
	padding-top:13px;
	font-size:1em;
	text-transform:uppercase;
}


section>div >p{
	text-align:center;
	font-size:2.8em;
	color:#7e7e7e;
	font-family:'Times New Roman',serif;
	padding-top:57px;
}
.color{
	color:#d42819;
}
section>div>ul {
	padding-top:50px;
	text-align:center;
	padding-bottom:20px;
}
.list-inline>li {

	padding-left:2px;
}
section>div>ul>li>a {
	text-decoration:none;
	color:#b8b8b8;
}
section>div>ul>li>a:hover {
	color: black; /* Цвет ссылки при наведении на нее курсора мыши */
	text-decoration: none; /* Добавляем подчеркивание */
}
section>ul>li>a:active{
	color:red;


}
h4 , div>span{
	padding-left:10px;
}
.lupa{
	position:relative;
	top:-50px;
	right:15px;

}
.pagination1{
	text-align: center;
    color:#d42819;
}
.pagination>li>a, .pagination>li>span{
	color:#d42819;
}
h5{
	font-family: 'Aref Ruqaa', serif;
	color:#d42819;
	font-weight: bold;

}
@media (max-width:767px){

	.width{
		width: 100%;
	}
	.logo{
		position: relative;
		top: 0;

	}
	h4{
		padding-left:0;
	}
}
@media (min-width:768px) and (max-width:1024px){
    .width{
        width: 180px;
        height: 200px;
    }
}