*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 960px;
    margin: 0 auto;
    padding:30px 10px 20px 10px;

}
h1{
    text-transform: uppercase;
    color: #82868f;
    font-size: 2.2em;
    font-weight: normal;
    display: inline-block;
}
nav{
    position: relative;
    bottom: 5px;
    left: 460px;
    display: inline-block;
    color: #9599a0;
}
ul {
    list-style: none;

    padding-bottom: 10px;
}
li {
    display: inline;
    padding-right: 30px;
}
.btn{
    background-color: #0ebfdd;
    color:white;
    position: relative;
    left: 50%;
    bottom: 6px;
    border: none;
    padding:10px 26px;
border-radius: 25px;
}
.bg{

    width: inherit;

    background:url('../img/bg.png');
}
.star{
    margin-top: 26%;
    margin-left: 42%;
    padding-bottom: 2px;
    padding-right: 22px;

}
h2{
    text-align: center;
    color:white;
    display: inline;
    font-size: 2em;
    font-weight: normal;
}
.star2{
    margin-top: 26%;
    padding-bottom: 2px;
    padding-left: 20px;

}
.text{
    text-align: center;
    color:white;
    margin-top: 30px;
  padding-bottom: 80px;
}
.about{
    width: inherit;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 70px;
}
.about>h2{

    font-size: 2em;
    color:#0ebfdd;

}
.about>p {
    padding-top: 30px;
    color: #939597;
}
.team{
    width: inherit;
    background-color: #0ebfdd;

    text-align: center;
    padding-top: 64px;
}
.team>h2{
    font-size: 2em;
    display: block;

}
figure{
    width: 16%;
    float: left;
    margin-top: 96px;
    color:white;
    margin-bottom: 100px;
}
figure>img{
    height: 156px;
}
.figureOne{
    margin-left: 26%;
}
.btn2{

    clear: both;
    padding-bottom: 60px;

}
.btn2>button{
    color:white;
    text-transform: uppercase;
    padding:10px 26px;
    border-radius: 25px;
    border: 1px white solid;
    background-color:inherit;
}
.map{
    width: inherit;
    background: url('../img/map.png') no-repeat ;
    height: 590px;

}
footer{
    width: inherit;
    background-color: #45494d;
    color: #d7dee4;
    height: 150px;
}
footer>ul{

    padding:33px 0 33px 280px;
    font-size: 0.8em;
    float: left;
}
footer>div{
    float: left;
    width: 300px;
margin-top: 20px;
 margin-left: 440px;
}
hr{
    clear: both;
    text-align: center;
    width: 820px;
    background-color: #5a5e62;
    height: 2px;
    border: none;
    margin-left:280px;
}
footer>p{
    padding-left: 680px;
    padding-top: 12px;
    color: #5a5e62;
}
a{
    text-decoration: none;
    color: #82868f;
}
a:hover {
    cursor: pointer;
    color: #0ebfdd;
}
button:hover{
    cursor: pointer;
    color: #5a5e62;
}
div>a>img:hover {
    background-color: #0ebfdd;
    border-radius: 50%;
}
.loader:hover{
    -webkit-animation: preloader 1.5s 1 linear;
    -moz-animation: preloader 1.5s 1 linear;
    -ms-animation: preloader 1.5s 1 linear;
    -o-animation: preloader 1.5s 1 linear;
    animation: preloader 1.5s 1 linear;
}
@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

/*@-moz-keyframes preloader {*/
    /*to { -moz-transform: rotate(360deg); }*/
/*}*/

/*@-ms-keyframes preloader {*/
    /*to { -ms-transform: rotate(360deg); }*/
/*}*/

/*@-o-keyframes preloader {*/
    /*to { -o-transform: rotate(360deg); }*/
/*}*/

/*@keyframes preloader {*/
    /*to { transform: rotate(360deg); }*/
/*}*/