*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c8cfdc;
    width: 1360px;
    margin: 0 auto;


}

section{
   padding: 20px;

}
.one{

    height: 380px;
    width: 19%;
    background-color: #383d68;
    float: left;
    margin-right:1%;
    margin-bottom: 14px;

}
.two{

    height: 380px;
    width: 19%;
    background-color: white;
    float: left;
    margin-right:1%;
}
.three{

    height: 380px;
    width: 19%;
    background-color: white;
    float: left;
    margin-right:1%;
}
.four{

    height: 380px;
    width: 19%;
    background-color: white;
    float: left;
    margin-right:1%;
}
.five{
    height: 380px;
    width: 20%;
    background-color: white;
    float: left;
    color:black;
    overflow: hidden;

}
img{
    width: 80%;
    margin-top: 55%;
   margin-left:10% ;
    height: 96px;
}
h2{
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    font-weight:normal;
    text-align: center;
    margin-top: 15%;
}
p{
    text-align: center;
    color: white;
    margin-top: 4%;
    font-size: 0.7em;
}
b{
    text-align: center;
    color: white;
    margin-top: 6%;
    font-size: 1em;
}
.price {
    margin-top: 6%;
    font-size: 1em;
    font-weight:600;
}
.twoName{
    color:black;

}
.twoP{
    color: #989898;
}
.color{
    color:black;
}
.image>img{
    width: 5%;
    height: 10%;
   margin-top: 10%;

}
.image{

}
button{
  margin-right: 12px;
    margin-left: 48px;
    background-color: #0089cf;
    color: white;
    padding: 1% 4%;
    border: none;
    border-radius: 25px;
}
.threeImg{
    width: 80%;
    margin-top: 37%;
    margin-left:10% ;
    height: 96px;
}
.old{
    color:red;
    text-decoration:line-through;
}
.btnFour{
    margin-top: 8%;
    margin-left: 30%;
}
h1{
    text-align: center;
    font-size: 5em;
    font-weight: normal;

}
h3{
    text-align: center;
    font-weight: normal;
    margin-top: 8%;
}

.fiveImg{
    position: relative;
    width: 399px;
    height:400px;
    right: 60px;
    top: -140px;
    z-index: 1;
    margin-left: 0;
}
.oneBlock{
    clear:both;
    width: 39%;
    float:left;
    height: 380px;
    background-color: white;
    margin-right: 1%;
    overflow: hidden;
}
.twoBlock{
    width: 39%;
    float:left;
    height: 380px;
    background-color: white;
    margin-right: 1%;
}
.threeBlock{
    width: 20%;
    float:left;
    height: 380px;
    background-color: white;

}
.imgFloat{



}
.text{

    width: 50%;
    float: left;
}
.man {
    float: left;
    width: 50%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    top: -10px;
}
.green{
    background-color: #83d78c;
    padding: 3px 10px;
    margin-top: 12%;
    margin-left: 20px;
}
.text>h3{

    margin-left: 12%;
    margin-top: 20%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}
.text>p{
    color: #989898;
    margin-left: 12%;
    text-align: start;
 }
.second{
    line-height: 1.5;

}
div>.color{
    color:#333333;
    margin-top: 10%;
}
.twoBlock{
overflow: hidden;
}

.twoBlock>img{
width: 654px;
    height:255px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    left: -20px;

}
.twoBlock>h3{
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.twoBlock>p{
    color: #989898;
    margin-top: 2%;
}
.twoBlock>.color{
    color: black;
    margin-top: 4%;
}
.gr{
     padding: 3px 10px;
     margin-top: 0;
     margin-left: 0;
    position: relative;
    top: -240px;
    left: 210px;
    z-index: 1;
}

.threeBlock{
    background-color: #333333;
    color: white;

}
h5{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin-top: 12%;
}
.threeBlock>img{
    width: auto;
    height: auto;
    margin: 15% 0  0 26%;

}
.threeBlock>p {
    text-align: justify;
    margin: 2% 20px;
    font-size: 0.85em;
    line-height: 1.7;

}
#last{
    text-transform: uppercase;
    margin-top: 30px;
}

